![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [2]:
from pymongo import MongoClient
import pandas as pd

# connection with mongo
client = MongoClient("mongodb+srv://admin:2593@cluster0.ebfrc.mongodb.net/<dbname>?retryWrites=true&w=majority")

# connection with database "db_companies"
db = client.db_companies

# companies collection
collection_companies = db.companies

# querying EVERYTHING
query = collection_companies.find()

# convert to pandas.DataFrame
df = pd.DataFrame(query)

In [ ]:
collection_companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [15]:
pd.DataFrame(collection_companies.find({'name':'Babelgum'},{'_id':0,'name':1}))

       name
0  Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [37]:
#En sort() -1 es descendente, 1 es ascendente
pd.DataFrame(collection_companies.find({'number_of_employees':{"$gt":5000}}).limit(20).sort("number_of_employees",1)).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297e49,Nintendo,nintendo,http://www.crunchbase.com/company/nintendo,http://nintendo.com,,,NintendoAmerica,games_video,5080,...,[],None,[],"[{'description': None, 'address1': None, 'addr...","[{'id': 17591, 'description': '3D For Everyone...",None,[],[],[],[]
1,52cdef7e4bab8bd67529ba2e,Hexaware Technologies,hexaware-technologies,http://www.crunchbase.com/company/hexaware-tec...,http://www.hexaware.com,http://blogs.hexaware.com,http://blogs.hexaware.com/feed,None,other,5200,...,[],None,"[{'price_amount': 34300000, 'price_currency_co...","[{'description': 'United States of America', '...",[],None,[],[],[{'external_url': 'http://www.forrester.com/Re...,[]
2,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [43]:
#Pones el $and y en seguida una lista de dicts con todas las condiciones a cumplir
pd.DataFrame(collection_companies.find({'$and':[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]},{"_id":0,"name":1,"founded_year":1})).head(3)

       name  founded_year
0  Wetpaint          2005
1      Zoho          2005
2      Digg          2004

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [3]:
#Cuando es un campo dentro de otro se separan con un punto ej: "ipo.valuation_amount"
pd.DataFrame(collection_companies.find({'$and':[{"ipo.valuation_amount":{"$gt":100000000}},{"founded_year":{"$lt":2010}}]},{"_id":0,"name":1,"ipo":1})).head(3)

       name                                                ipo
0  Facebook  {'valuation_amount': 104000000000, 'valuation_...
1   Twitter  {'valuation_amount': 18100000000, 'valuation_c...
2      Yelp  {'valuation_amount': 1300000000, 'valuation_cu...

In [7]:
pd.json_normalize(collection_companies.find({'$and':[{"ipo.valuation_amount":{"$gt":100000000}},{"founded_year":{"$lt":2010}}]},{"_id":0,"name":1,"ipo":1}).sort("ipo.valuation_amount",-1)).head(3)

,name,ipo.valuation_amount,ipo.valuation_currency_code,ipo.pub_year,ipo.pub_month,ipo.pub_day,ipo.stock_symbol
0,Facebook,104000000000,USD,2012.0,5.0,18.0,NASDAQ:FB
1,Amazon,100000000000,USD,1997.0,5.0,NaN,NASDAQ:AMZN
2,Twitter,18100000000,USD,2013.0,11.0,7.0,NYSE:TWTR

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [47]:
pd.DataFrame(collection_companies.find({'$and':[{"number_of_employees":{"$lt":1000}},{"founded_year":{"$lt":2005}}]}).sort('number_of_employees').limit(10)).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d93,Fox Interactive Media,fox-interactive-media,http://www.crunchbase.com/company/fox-interact...,http://www.newscorp.com,,,twitterapi,web,0,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 20000000, 'price_currency_co...","[{'description': '', 'address1': '407 N Maple ...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
1,52cdef7c4bab8bd675297dbc,Skype,skype,http://www.crunchbase.com/company/skype,http://www.skype.com,http://blogs.skype.com,http://feeds.feedburner.com/shareskypeen,skype,software,0,...,"[{'funding_round': {'round_code': 'a', 'source...","{'price_amount': 2600000000, 'price_currency_c...","[{'price_amount': 150000000, 'price_currency_c...","[{'description': 'Global HQ', 'address1': '23-...","[{'id': 552, 'description': 'Skype released pu...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[150, 130], 'assets/ima...",[{'external_url': 'http://www.ewdn.com/2011/06...,[]
2,52cdef7c4bab8bd675297e12,Ticketmaster,ticketmaster,http://www.crunchbase.com/company/ticketmaster,http://www.ticketmaster.com,,,Ticketmaster,web,0,...,"[{'funding_round': {'round_code': 'b', 'source...","{'price_amount': None, 'price_currency_code': ...","[{'price_amount': 265000000, 'price_currency_c...","[{'description': 'World Headquarters', 'addres...",[],None,[],"[{'available_sizes': [[[102, 150], 'assets/ima...",[],[]

### 6. All the companies that don't include the `partners` field.

In [65]:
#{<'nombre campo'>:{$exists: <'false' o 'true'>}}
pd.DataFrame(collection_companies.find({'partners':{"$exists":"False"}})).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN

### 7. All the companies that have a null type of value on the `category_code` field.

In [59]:
#Para buscar null se usa None
pd.DataFrame(collection_companies.find({'category_code':None})).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752980f6,Collective,collective,http://www.crunchbase.com/company/collective,None,None,None,None,None,NaN,...,[],None,[],[],[],None,[],[],[],[]
1,52cdef7c4bab8bd675298225,Snimmer,snimmer,http://www.crunchbase.com/company/snimmer,None,None,None,None,None,NaN,...,[],None,[],[],[],None,[],[],[],[]
2,52cdef7c4bab8bd675298226,KoolIM,koolim,http://www.crunchbase.com/company/koolim,None,None,None,None,None,NaN,...,[],None,[],[],[],None,[],[],[],[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [68]:
pd.DataFrame(collection_companies.find({'$and':[{"number_of_employees":{"$gte":100}},{"number_of_employees":{"$lt":1000}}]},{'_id':0,'name':1,'number_of_employees':1})).head(3)

        name  number_of_employees
0  AdventNet                  600
1    AddThis                  120
2      OpenX                  305

### 9. Order all the companies by their IPO price descendently.

In [10]:
pd.DataFrame(collection_companies.find().sort("ipo.valuation_amount",-1).limit(10)).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7e4bab8bd67529a8b4,GREE,gree,http://www.crunchbase.com/company/gree,http://www.gree-corp.com,,,gree_corp,games_video,700.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': 104000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 1021, 'description': 'IPO', 'stoned_ye...","{'valuation_amount': 108960000000, 'valuation_...",[],"[{'available_sizes': [[[133, 150], 'assets/ima...",[],[]
1,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]
2,52cdef7c4bab8bd675297e7a,Amazon,amazon,http://www.crunchbase.com/company/amazon,http://amazon.com,,,amazon,ecommerce,NaN,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '1200 12th ...","[{'id': 6931, 'description': 'How Many Kindle ...","{'valuation_amount': 100000000000, 'valuation_...","[{'embed_code': '<object width=""425"" height=""3...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [70]:
pd.DataFrame(collection_companies.find().sort('number_of_employees',-1).limit(10))

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,...,[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]
2,52cdef7d4bab8bd675299d33,Toyota,toyota,http://www.crunchbase.com/company/toyota,http://www.toyota-global.com,,,Toyota,enterprise,320000,...,"[{'funding_round': {'round_code': 'a', 'source...",None,[],"[{'description': 'HQ', 'address1': 'Toyota Mot...",[],None,"[{'embed_code': '<iframe width=""430"" height=""3...","[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7e4bab8bd67529b0fe,Nippon Telegraph and Telephone Corporation,nippon-telegraph-and-telephone-corporation,http://www.crunchbase.com/company/nippon-teleg...,http://www.ntt.co.jp/index_e.html,,,,None,227000,...,"[{'funding_round': {'round_code': 'e', 'source...",None,[],"[{'description': 'NTT', 'address1': '3-1, Otem...",[],None,[],"[{'available_sizes': [[[150, 42], 'assets/imag...",[],[]
5,52cdef7d4bab8bd675298aa4,Samsung Electronics,samsung-electronics,http://www.crunchbase.com/company/samsung-elec...,http://www.samsung.com/us,http://www.samsungvillage.com/,,samsungtweets,hardware,221726,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ - South Korea', 'address1...","[{'id': 11908, 'description': 'Samsung Ships 3...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[94, 150], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Samsun...,[]
6,52cdef7d4bab8bd675298b99,Accenture,accenture,http://www.crunchbase.com/company/accenture,http://www.accenture.com,http://www.accenture.com/Global/Accenture_Blogs/,http://feeds.accenture.com/Accenture_High_Perf...,accenture,consulting,205000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '1615 Murray ...","[{'id': 1824, 'description': 'Nokia and Accent...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 136], 'assets/ima...",[{'external_url': 'http://www.accenture.com/Gl...,[]
7,52cdef7e4bab8bd67529a657,Tata Consultancy Services,tata-consultancy-services,http://www.crunchbase.com/company/tata-consult...,http://www.tcs.com,,http://www.tcs.com/rss_feeds/Pages/feed.aspx?f=p,TCS_News,consulting,200300,...,[],None,[],"[{'description': 'World Headquarters', 'addres...",[],None,[],[],[],[]
8,52cdef7e4bab8bd67529aa51,Flextronics International,flextronics-international,http://www.crunchbase.com/company/flextronics-...,http://www.flextronics.com,http://www.flextronicsblog.com/,,flextronics,None,200000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'US HQ', 'address1': '6201 Am...",[],None,[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[],[]
9,52cdef7d4bab8bd675299156,Safeway,safeway,http://www.crunchbase.com/company/safeway,http://www.safeway.com,,,,other,186000,...,[],None,[],"[{'description': 'HQ', 'address1': '5918 Stone...",[],None,[],"[{'available_sizes': [[[150, 123], 'assets/ima...",[],[]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [71]:
pd.DataFrame(collection_companies.find({'$and':[{"founded_month":{"$gt":5}},{"founded_month":{"$lte":12}}]}).limit(1000)).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None

### 12. All the companies that have been 'deadpooled' after the third year.

In [49]:
#$expr compara con el operador logico q le des
#En este caso pide q deadpooled... se gt founded +3
#$add hace una suma entre el valor d un campo y el numero q pases $add:[<campo>,<# a sumar>]
pd.DataFrame(collection_companies.find({'$and':[{'$expr':{'$gt':['$deadpooled_year',{'$add':['$founded_year',3]}]}},{'founded_year':{'$gte':0}}]}))

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297da0,Babelgum,babelgum,http://www.crunchbase.com/company/babelgum,http://babelgum.com,http://babelgum.com/blog,http://feeds.feedburner.com/Babelgum,Babelgum,games_video,NaN,...,[],None,[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[],[]
1,52cdef7c4bab8bd675297dae,Thoof,thoof,http://www.crunchbase.com/company/thoof,http://thoof.com,,None,None,web,NaN,...,[],None,[],"[{'description': None, 'address1': None, 'addr...",[],None,[],[],[{'external_url': 'http://www.duraslide.com.sg...,[]
2,52cdef7c4bab8bd675297db6,Wesabe,wesabe,http://www.crunchbase.com/company/wesabe,http://wesabe.com,http://blog.wesabe.com/,http://blog.wesabe.com/feed/,jasonlong,web,NaN,...,[],None,[],"[{'description': None, 'address1': '400 Montgo...",[],None,"[{'embed_code': '<script src=""http://flash.rev...",[],[],[]
3,52cdef7c4bab8bd675297dbe,Stickam,stickam,http://www.crunchbase.com/company/stickam,http://www.stickam.com,http://webmaster.stickam.com,http://blog.stickam.com/index.php/feed/,Stickam,games_video,35.0,...,[],None,[],"[{'description': '', 'address1': '1975 pads rd...",[],None,[],[],[],[]
4,52cdef7c4bab8bd675297dcc,AllPeers,allpeers,http://www.crunchbase.com/company/allpeers,http://www.allpeers.com,http://www.allpeers.com/blog/,http://www.allpeers.com/blog/feed/,None,web,NaN,...,[],None,[],"[{'description': None, 'address1': None, 'addr...",[],None,[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,52cdef7f4bab8bd67529c470,SpeakSoft,speaksoft,http://www.crunchbase.com/company/speaksoft,http://www.speaksoft.net,,,,public_relations,NaN,...,[],None,[],"[{'description': '', 'address1': '110 Cooper S...",[],None,[],[],[],[]
433,52cdef7f4bab8bd67529c4c4,Tagito,tagito,http://www.crunchbase.com/company/tagito,http://www.tagito.com,,,tagitodotcom,web,4.0,...,[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],None,[],"[{'available_sizes': [[[150, 78], 'assets/imag...",[{'external_url': 'http://venturebeat.com/2009...,[]
434,52cdef7f4bab8bd67529c503,Nordic Windpower,nordic-windpower,http://www.crunchbase.com/company/nordic-windp...,http://www.nordicwindpower.com,,http://www.nordicwindpower.com/article--news--...,,cleantech,NaN,...,[],None,[],"[{'description': '', 'address1': '125 Universi...",[],None,[],"[{'available_sizes': [[[150, 82], 'assets/imag...",[],[]
435,52cdef7f4bab8bd67529c5aa,Nethra Imaging,nethra-imaging,http://www.crunchbase.com/company/nethra-imaging,http://nethra-imaging.com/index.php,,,,semiconductor,NaN,...,[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2855 Bowers ...",[],None,[],"[{'available_sizes': [[[150, 135], 'assets/ima...",[],[]
436,52cdef7f4bab8bd67529c68b,Prolify,prolify,http://www.crunchbase.com/company/prolify,http://www.prolify.com,,,,None,NaN,...,[],None,[],"[{'description': 'HQ', 'address1': '7 Giborey ...",[],None,[],"[{'available_sizes': [[[150, 100], 'assets/ima...",[],[]

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [11]:
pd.DataFrame(collection_companies.find({"$and":[{"founded_year":{"$lt":2000}},{"acquisition.price_amount":{"$gt":10000000}}]})).head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,...,[],"{'price_amount': 625000000, 'price_currency_co...",[],"[{'description': None, 'address1': '959 Skyway...",[],None,[],[],[],[]
1,52cdef7c4bab8bd675297deb,SideStep,sidestep,http://www.crunchbase.com/company/sidestep,http://www.sidestep.com,None,None,None,web,75.0,...,[],"{'price_amount': 180000000, 'price_currency_co...",[],"[{'description': None, 'address1': '2980 Bower...",[],None,[],[],[],[]
2,52cdef7c4bab8bd675297e2c,Recipezaar,recipezaar,http://www.crunchbase.com/company/recipezaar,http://www.recipezaar.com,http://www.recipezaar.com/sitenews/,None,None,web,5.0,...,[],"{'price_amount': 25000000, 'price_currency_cod...",[],"[{'description': None, 'address1': 'P.O. Box 1...",[],None,[],[],[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000.0,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7c4bab8bd675297e97,Snapfish,snapfish,http://www.crunchbase.com/company/snapfish,http://snapfish.com,http://snapfishblog.in/,,snapfishbyhp,network_hosting,NaN,...,[],"{'price_amount': 300000000, 'price_currency_co...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '303 Second...",[],None,[],[],[{'external_url': 'http://www.upickreviews.com...,[]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [22]:
#Parece q no hay compaÃ±ias q cumplan esto 
pd.json_normalize(collection_companies.find({"acquisition.acquired_year":{"$gt":2015}},{"_id":0,"name":1,"acquisition":1}).sort("acquisition.price_amount",-1))

Empty DataFrame
Columns: []
Index: []

In [23]:
#Probamos otra fecha para ver q funciona la query
#Normalizamos el campo "acquisition" para verlo bn
pd.json_normalize(collection_companies.find({"acquisition.acquired_year":{"$gt":2005}},{"_id":0,"name":1,"acquisition":1}).sort("acquisition.price_amount",-1))

,name,acquisition.price_amount,acquisition.price_currency_code,acquisition.term_code,acquisition.source_url,acquisition.source_description,acquisition.acquired_year,acquisition.acquired_month,acquisition.acquired_day,acquisition.acquiring_company.name,acquisition.acquiring_company.permalink
0,Goodrich Corporation,1.840000e+10,USD,None,http://www.masshightech.com/stories/2011/09/19...,UTC shells out $18.4 billion for Goodrich,2011,9.0,22.0,United Technologies,united-technologies
1,BEA Systems,8.500000e+09,USD,None,http://www.oracle.com/corporate/press/2008_jan...,Oracle to Acquire BEA Systems,2008,1.0,16.0,Oracle Corporation,oracle
2,Navteq,8.100000e+09,USD,None,http://www.businessweek.com/stories/2007-10-01...,Press Release,2008,7.0,10.0,Nokia,nokia
3,Sun Microsystems,7.400000e+09,USD,cash,http://www.techcrunch.com/2009/04/20/oracle-to...,Oracle To Buy Sun For Approximately $7.4 Billi...,2009,4.0,20.0,Oracle Corporation,oracle
4,Pixar,7.400000e+09,USD,stock,http://www.pixar.com/companyinfo/about_us/over...,Pixar About Page,2006,1.0,24.0,The Walt Disney Company,the-walt-disney-company
...,...,...,...,...,...,...,...,...,...,...,...
2429,ALOT,NaN,USD,stock,http://techcrunch.com/2011/10/17/digital-media...,Digital Media Companies Inuvo And Vertro To Merge,2012,3.0,1.0,Inuvo,inuvo
2430,Nellix,NaN,USD,cash_and_stock,http://investor.endologix.com/releasedetail.cf...,Endologix to Acquire Nellix,2010,10.0,28.0,Endologix,endologix
2431,Celestial Semiconductor,NaN,USD,None,http://www.freshnews.com/news/444859/cavium-ne...,CAVIUM NETWORKS SIGNS DEFINITIVE AGREEMENT TO ...,2011,1.0,31.0,Cavium,cavium-networks
2432,MyChances,NaN,USD,None,http://www.parchment.com/press-releases/new-st...,New Student-Developed Site Helps College Hopef...,2011,4.0,NaN,Parchment,parchment
2433,InSound Medical,NaN,USD,None,http://www.audiologyonline.com/releases/sonova...,Sonova Acquires InSound Medical Inc,2010,1.0,6.0,Sonova Holding,sonova-holding

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [78]:
pd.DataFrame(collection_companies.find({},{'_id':0,'name':1,'founded_year':1,}).sort('founded_year',-1).limit(10)).head(3)

        name  founded_year
0      Fixya          2013
1      Wamba          2013
2  Advaliant          2013

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [33]:
pd.DataFrame(collection_companies.find({'$and':[{"founded_day":{"$lte":7}},{"founded_month":{"$lte":12}}]}).sort("acquisition.price_amount",-1).limit(10)).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd6752989a1,Netscape,netscape,http://www.crunchbase.com/company/netscape,http://netscape.aol.com,,,,software,NaN,...,[],"{'price_amount': 4200000000, 'price_currency_c...",[],"[{'description': '', 'address1': '466 Ellis St...",[],None,[],[],[],[]
1,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000.0,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
2,52cdef7c4bab8bd675297efe,Zappos,zappos,http://www.crunchbase.com/company/zappos,http://www.zappos.com,http://www.blogs.zappos.com/blogs,http://feeds.feedburner.com/ZapposBlogs,zappos,web,1500.0,...,[],"{'price_amount': 1200000000, 'price_currency_c...",[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 864, 'description': 'My baby cousin ju...",None,"[{'embed_code': '<object width=""425"" height=""3...",[],[{'external_url': 'http://blog.mixergy.com/cus...,[]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [80]:
pd.DataFrame(collection_companies.find({'$and':[{"category_code":'web'},{"number_of_employees":{"$gt":4000}}]}).sort('number_of_employees',-1)).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752982a8,Experian,experian,http://www.crunchbase.com/company/experian,http://www.experian.com,http://www.experian.com/blogs/news/,,ExperianMkt,web,15500,...,[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '475 Anton ...","[{'id': 11547, 'description': 'Experian Buys I...",None,[],"[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://experian-careers.com...,[]
1,52cdef7c4bab8bd675297d9b,eBay,ebay,http://www.crunchbase.com/company/ebay,http://ebay.com,,,eBay,web,15000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1500000000, 'price_currency_...","[{'description': 'Headquarters', 'address1': '...","[{'id': 7107, 'description': 'eBay Q2 Revenue ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""370"" height=""3...","[{'available_sizes': [[[150, 71], 'assets/imag...",[],[]
2,52cdef7c4bab8bd675297da3,Yahoo!,yahoo,http://www.crunchbase.com/company/yahoo,http://www.yahoo.com,http://ycorpblog.com/,http://ycorpblog.com/feed/,Yahoo,web,13600,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1000000000, 'price_currency_...","[{'description': None, 'address1': '701 First ...","[{'id': 347, 'description': 'CBS and Yahoo in ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 132], 'assets/ima...",[{'external_url': 'http://onlinepersonalswatch...,[]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [35]:
pd.DataFrame(collection_companies.find({"$and":[{"acquisition.price_amount":{"$gt":10000000}},{"acquisition.price_currency_code":"EUR"}]})).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297f02,ZYB,zyb,http://www.crunchbase.com/company/zyb,http://zyb.com,http://blog.zyb.com/,http://blog.zyb.com/index.php/feed/,None,mobile,25.0,...,[],"{'price_amount': 31500000, 'price_currency_cod...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': 'Esromgade ...",[],None,[],[],[],[]
1,52cdef7d4bab8bd675298bf3,Apertio,apertio,http://www.crunchbase.com/company/apertio,http://www.apertio.com,,,None,mobile,NaN,...,[],"{'price_amount': 140000000, 'price_currency_co...",[],"[{'description': None, 'address1': '', 'addres...",[],None,[],[],[],[]
2,52cdef7d4bab8bd675298f47,Greenfield Online,greenfield-online,http://www.crunchbase.com/company/greenfield-o...,http://www.greenfield.com/content/index.html,,,,public_relations,NaN,...,[],"{'price_amount': 40000000, 'price_currency_cod...","[{'price_amount': 154000000, 'price_currency_c...","[{'description': '', 'address1': '21 River Rd'...",[],None,[],"[{'available_sizes': [[[150, 87], 'assets/imag...",[{'external_url': 'http://www.pr-inside.com/gr...,[]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [36]:
pd.DataFrame(collection_companies.find({"acquisition.acquired_month":{"$lt":4}},{"_id":0,"name":1,"acquisition":1}).limit(10)).head(3)

         name                                        acquisition
0        Kyte  {'price_amount': None, 'price_currency_code': ...
1  NetRatings  {'price_amount': 327000000, 'price_currency_co...
2      blogTV  {'price_amount': None, 'price_currency_code': ...

In [37]:
pd.json_normalize(collection_companies.find({"acquisition.acquired_month":{"$lt":4}},{"_id":0,"name":1,"acquisition":1}).limit(10)).head(3)

,name,acquisition.price_amount,acquisition.price_currency_code,acquisition.term_code,acquisition.source_url,acquisition.source_description,acquisition.acquired_year,acquisition.acquired_month,acquisition.acquired_day,acquisition.acquiring_company.name,acquisition.acquiring_company.permalink
0,NetRatings,327000000.0,USD,cash,http://login.vnuemedia.com/hr/login/login_subs...,Nielsen buys rest of NetRatings,2007,2,NaN,Nielsen,nielsen
1,blogTV,NaN,USD,None,http://techcrunch.com/2013/03/13/younow-buys-b...,Live Social Video Network YouNow Acquires Stre...,2013,3,13.0,YouNow,younow
2,Livestream,NaN,USD,cash_and_stock,,company,2008,1,1.0,Adviqo,adviqo

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [42]:
pd.DataFrame(collection_companies.find({"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2010}},{"acquisition.acquired_year":{"$gte":2011}}]}))

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
2,52cdef7c4bab8bd675297d91,Geni,geni,http://www.crunchbase.com/company/geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 15460, 'description': 'Announced hire ...","[{'embed_code': '<object width=""425"" height=""3...",[],[],[],NaN,NaN,None,None
3,52cdef7c4bab8bd675297dab,Kyte,kyte,http://www.crunchbase.com/company/kyte,http://www.kyte.com,http://kyte.com/blog,http://feeds.feedburner.com/kyte_blog,kyte,games_video,40.0,...,"[{'description': None, 'address1': '442 Post S...",[],"[{'embed_code': '<embed src=""http://blip.tv/pl...",[],[],[],NaN,NaN,None,None
4,52cdef7c4bab8bd675297daf,Jingle Networks,jingle-networks,http://www.crunchbase.com/company/jingle-networks,http://jinglenetworks.com,,,Marchex,mobile,35.0,...,"[{'description': '', 'address1': '475 Park Ave...","[{'id': 6110, 'description': 'Jingle Networks ...",[],[],[{'external_url': 'http://www.talkcrunch.com/2...,[],NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,52cdef7f4bab8bd67529c691,ALOT,alot,http://www.crunchbase.com/company/alot,http://www.alot.com,,,,software,50.0,...,"[{'description': '', 'address1': '143 Varick S...",[],[],"[{'available_sizes': [[[150, 47], 'assets/imag...",[],[],NaN,NaN,None,None
482,52cdef7f4bab8bd67529c6b4,OptiMedica,optimedica,http://www.crunchbase.com/company/optimedica,http://www.optimedica.com,,,optimedica,biotech,NaN,...,"[{'description': 'Corporate Headquarters', 'ad...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...","[{'external_url': 'http://www.optimedica.com',...",[],NaN,NaN,None,None
483,52cdef7f4bab8bd67529c6c5,Luminus Devices,luminus-devices,http://www.crunchbase.com/company/luminus-devices,http://www.luminus.com,,,LuminusDevices,other,NaN,...,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 8272, 'description': 'Luminus Devices ...",[],"[{'available_sizes': [[[150, 85], 'assets/imag...",[],[],NaN,NaN,None,None
484,52cdef7f4bab8bd67529c6e0,Celestial Semiconductor,celestial-semiconductor,http://www.crunchbase.com/company/celestial-se...,http://www.celestialsemi.cn,,,,semiconductor,NaN,...,"[{'description': '', 'address1': '2635 North 1...",[],[],"[{'available_sizes': [[[150, 72], 'assets/imag...",[],[],NaN,NaN,None,None
485,52cdef7f4bab8bd67529c6e2,MyChances,mychances,http://www.crunchbase.com/company/mychances,http://www.mychances.net,http://www.mychances.net/blog/,http://www.mychances.net/blog/feed/,mychances,consulting,2.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://blogs.wsj.com/juggle...,[],NaN,NaN,None,None